body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: #f9f9f9;
}

header {
    text-align: center;
    padding: 30px;
    background: #222;
    color: white;
}

.profile-pic {
    width: 250px;
    height: auto;
    border-radius: 10px;
    border: 5px solid white;
    object-fit: contain;
}

section {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
  }
  

h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #222;
}
.cert-card {
  max-width: 800px;       /* max width fix karega */
  margin: 20px auto;      /* center + spacing */
  padding: 16px;
  background: #f9f9f9;    /* halka card bg */
  border-radius: 12px;
  box-shadow: 0 4px 20px rgba(0,0,0,0.1);
}

  


.cert-card img {
  max-width: 100%;   /* responsive resize */
  height: auto;      /* proportional height */
  border-radius: 8px;
  margin-bottom: 12px;
}

  

.cert-card ul {
    margin-top: 15px;
    padding-left: 20px;
}

.cert-card ul li {
    margin-bottom: 8px;
    color: #333;
}

footer {
    text-align: center;
    padding: 15px;
    background: #222;
    color: white;
}
section {
  max-width: 1000px;
  margin: 0 auto;
  padding: 20px;
}
